/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,top-nav,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, top-nav, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical top-nav */
nav.horizontal ul li{	display: inline-block;}/* horizontal top-nav */
img{max-width:100%;}
/*end reset*/
body{
 font-family:Arial, Helvetica, sans-serif;
 background: #fff;
}
.wrap{
	padding: 0px 10px;
}
.clearfix{
	clear:both;
}
/*---start-top-header----*/
.header_bg{
	padding: 7px 0px 1px 0;
	background: #FEC73D;
}
/*---nav-links----*/
.navgation-links ul{
	background:#000;
}
.nav-item a {
	display: block;
}
.navgation-links li
{
	border-bottom: 1px solid #E5E6E7;
}
.navgation-links li a{
	text-transform: uppercase;
	color:#fff;
	font-size: 13px;
	display: block;
	padding: 5px;
	text-align: center;
}
.navgation-links li.active a{
	color:#FEC73D;
}
/*--menu-start---*/

.mm-menu li.img a{
		font-size: 16px;
	}
.mm-menu li.img a img{
		float: left;
		margin: -5px 10px -5px 0;
	}
.mm-menu li.img a small
	{
		font-size: 12px;
}
#page nav
{
	display: none;
}
#header,
.header,
#footer{
	color: #fff;
	text-align: center;
	height: 37px;
	font-size: 1.5em;
	width: 100%;
	z-index: 999;
	top: 0;
}
.navicon
{
	display: block;
	width:32px;
	height:32px;
	margin: 0 auto;
	background: url(../images/menu-icon.png) no-repeat;
	float: right;
}
.logo {
	width: 40%;
	float: left;
	text-align: left;
}
/*---//end-top-header----*/
/*--banner-starts--*/
.banner{
	background:url(../images/banner.jpg) no-repeat;
	background-size:100% 100%;
	min-height: 160px;
}
.banner-bottom{
	text-align:center;
	padding-top: 10%;
}
.banner-bottom h1 {
	font-size: 1em;
	color: #fff;
	margin: 0px;
	letter-spacing: 2px;
}
.banner-bottom h2 {
	font-size: 13px;
	color: #fff;
	background: rgba(163, 163, 164, 0.71);
	width: 62%;
	margin: 3px auto;
	padding: 2px 0px;
}
.bttn a {
	color: #040707;
	font-size: 10px;
	padding: 5px 7px;
	background: #f2b620;
}
.bttn {
	margin-top: 10px;
}
.banner-btm {
	background: rgba(254, 199, 61, 0.6);
	text-align: center;
	width: 83%;
	margin: 0 auto;
	padding: 3px 0px;
	margin-top: 1.5em;
}
.banner-btm p {
	color: #040707;
	font-size: 13px;
}
.banner-btm p span {
	color: #fff;
	font-size: 11px;
}
/*--banner-ends--*/
/*--options-starts--*/
.option{
	background:#FEC73D;
	padding: 11px 0px;
}
.option-one {
	text-align: center;
	margin: 7px 0px;
}
.option-one h3 {
	color: #040707;
	font-size: 13px;
	margin: 2px 0px 0px 0px;
	font-weight: 400;
}
/*--options-ends--*/
/*--work-starts--*/
.work{
	background:url(../images/f-slide-banner.jpg) no-repeat;
	background-size:100% 100%;
	min-height: 140px;
}
.item {
	text-align: center;
	padding-top: 22px;
}
/*--work-ends--*/
/*--grate-starts--*/
.grate{
	padding:15px 0px 15px 0px;
}
.grate-main {
	min-height: 7.5em;
	border: 2px solid #FEC73D;
	margin: 0px 6px;
}
.grate-right {
	text-align: center;
	margin-top: 8px;
	width: 26%;
	float: right;
}
.grate-left {
	margin-top: 6%;
	width: 74%;
	float: left;
}
.grate-main-left {
	background: #FEC73D;
	display: block;
	min-height: 2.6em;
	text-align: center;
	padding-top: 5px;
}
.grate-left h3{
	font-size: 13px;
	font-style:italic;
	margin: 0px 0px 0px 5px;
	color: #444646;
	letter-spacing: 1px;
}
.grate-left h4{
	font-size:13px;
	margin: 7px 13px 0px 0px;
	text-align:right;
	color:#4AA3DF;
}
.grate-right img{
	border:2px solid #FEC73D;
}
/*--grate-ends--*/
/*--winners-starts--*/
.winners{
	background:#EFEFEF;
	padding:1em 0px;
}
.winners-main {
	background: #fff;
	border: 5px solid #FEC73D;
	text-align: center;
	padding: 8px 0px;
	margin: 0px 6px;
}
.winners-main h3 {
	color: #FF6000;
	font-size: 1.3em;
	margin: 0px;
	letter-spacing: 1px;
}
.winners-main p {
	color: #FF6000;
	font-size: 14px;
	letter-spacing: 2px;
}
/*--winners-ends--*/
/*--stay-starts--*/
.stay-bottom span {
	display: inline-block;
	width: 85%;
	background: #F6F4F5;
	margin-bottom: 14px;
}
.stay{
	text-align:center;
	padding-top: 1.5em;
	margin-bottom: 13px;
}
.stay-top h3 {
	font-size: 1.1em;
	color: #000000;
	margin: 0px;
}
.stay-bottom {
	margin-top: 1.2em;
}
.stay-top p{
	font-size:13px;
	color:#333333;
	margin-top: 4px;
}
.stay-bottom span input[type="text"] {
	display: inline-block;
	outline: none;
	padding: 6px 10px 6px 4px;
	width: 53%;
	border: 0;
	-webkit-appearance: none;
	background: #F6F4F5;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #B8B6B7;
}
.stay-bottom span input[type="submit"] {
	border: 0;
	padding: 7px 4px;
	background: #FEC73D;
	color: #000000;
	outline: none;
	-webkit-appearance: none;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}
.stay-bottom ul li{
	display:inline-block;
	list-style:none;
	margin: 0px 0px;
}
.stay-bottom ul{
	padding: 8px 0px 0px 0px;
	border-top: 1px solid #999;
	width: 60%;
	margin: 0 auto;
}
/*--stay-ends--*/
/*--film-starts--*/
.film{
	background:url(../images/film-banner.jpg) no-repeat;
	min-height: 190px;
	background-size:100% 100%;
}
.film-top h3{
	color:#fff;
	font-size:1.1em;
	margin:0px;
	padding-top: 15px;
}
.film-top{
	text-align:center;
	margin: 12px 0px;
}
.film-bottom {
	text-align: center;
}
/*--film-ends--*/
/*--time-starts--*/
.time-top{
	text-align:center;
}
.time-top h3{
	font-size: 1.1em;
	color: #3e3d3b;
	margin: 0px;
}
.time {
	padding: 1em 0px;
}
.time-bottom {
	margin-top: 1em;
	text-align: center;
}
/*--time-ends--*/
/*--map-starts--*/
.map{
	background:url(../images/map-banner.jpg) no-repeat;
	background-size:100% 100%;
	min-height:150px;
}
.map-top{
	text-align:center;
}
.map-top h3{
	font-size:1.05em;
	color:#fff;
	margin:0px;
	padding-top: 3em;
}
.map-top p{
	color:#fff;
	font-size:15px;
}
/*--map-ends--*/
/*--project-starts--*/
.project-one ul{
	padding:0px;
	margin-left: 4em;
}
.project-one ul li{
	list-style-image:url(../images/dot.png);
	margin: 5px 14px;
}
.project-one ul li a{
	display: inline-block;
	color:#151515;
	font-size:15px;
	vertical-align: middle;
}
.project-one h3 {
	font-size: 17px;
	color: #151515;
	margin-bottom: 6px;
	text-align: center;
}
.project {
	padding: 10px 0px;
}
.project-one {
	margin: 13px 0px;
}
/*--project-ends--*/
/*--footer-starts--*/
.footer{
	background:#FEC73D;
	padding:1em 0px;
	text-align:center;
}
.footer-main p{
	color:#3E3D3B;
	font-size:13px;
}
.footer-main p a{
	color:#fff;
}
/*--footer-ends--*/
/*--login-ends--*/
.login h3, .signup h3 {
	margin-bottom: 8px;
	color: #FEC73D;
	font-size:15px;
}
.login,.signup{
	text-align:center;
	margin-bottom: 10px;
}
.login h4,.signup h4{
	color:#999;
	font-size:14px;
	margin-bottom: 10px;
}
.login input[type="text"], .login input[type="password"] {
	width: 90%;
	padding: 5px;
	margin: 3px 0;
	outline: none;
	-webkit-appearance: none;
	border: 1px solid #999;
}
.login input[type="submit"], .signup input[type="submit"] {
	background: #FEC73D;
	border: 0px;
	padding: 5px 10px;
	margin: 10px 10px;
	outline: none;
	color: #fff;
	text-transform: uppercase;
}
.signup input[type="text"] {
	width: 42.5%;
	padding: 5px;
	margin: 10px 0;
	-webkit-appearance: none;
	border: 1px solid #999;
	outline: none;
}
.signup input.email[type="text"], .signup input[type="password"] {
	width: 90%;
	padding: 5px;
	margin: 10px 0;
	-webkit-appearance: none;
	border: 1px solid #999;
	outline: none;
}
/*--login-ends--*/
/*--why-online-starts--*/
.about-top h3,.members-top h3,.contact-top h3{
	color: #3e3d3b;
	font-size: 1.2em;
	margin: 0;
}
.about-bottom-left img {
	width: 60%;
}
.about{
	padding:1em 0px;
}
.about-top{
	margin-bottom:1em;
	text-align:center;
}
.about-bottom {
	text-align: center;
}
.about-top p,.members-top p,.contact-top p{
	color: #3e3d3b;
	font-size: 15px;
	width: 100%;
	margin: 4px auto;
}
.about-bottom-right {
	margin-top: 12px;
}
.about-bottom-right h3{
	color:#3e3d3b;
	font-size:1.05em;
	margin:0px;
}
.about-bottom-right p {
	color: #3e3d3b;
	font-size: 15px;
	width: 85%;
	margin: 3px auto;
}
.what-top{
	text-align:center;
	margin-bottom:1em;
}
.what-top h3{
	color:#3e3d3b;
	font-size:1.2em;
	margin:0;
}
.what-top p{
	width:80%;
	margin:0 auto;
	font-size:14px;
}
.what-bottom-one {
	width: 70%;
	margin:15px auto;
}
.what{
	padding:1em 0px;
	background: #f5f6f6;
}
.what-bottom-one img {
	width: 100%;
}
.wt-btm {
	text-align:center;
	background: #fff;
	padding:10px 0px;
}
.wt-btm h4{
	color:#3e3d3b;
	font-size:1px;
	margin-bottom: 4px;
}
.wt-btm p{
	color:#3e3d3b;
	font-size:15px;
	width: 84%;
	margin: 0px auto;
}
/*--why-online-ends--*/
/*--members-starts--*/
.members{
	padding:1em 0px 3px 0px;
}
.contact{
	padding:1.3em 0px;
}
.members-top{
	text-align:center;
	margin-bottom:1em;
}
.members-bottom-one img {
	border: 2px solid #FEC73D;
}
.members-bottom-one {
	text-align: center;
	margin: 13px 0px;
}
.members-bottom-one p {
	font-size: 15px;
	color: #3e3d3b;
	line-height: 1.4em;
	width: 80%;
	margin: 5px auto;
}
.members-bottom-one ul{
	padding:0px;
}
.members-bottom-one ul li{
	list-style:none;
	display:inline-block;
}
.members-bottom-one ul li img{
	border:none;
}
/*--members-ends--*/
/*--contact-starts--*/
.contact-top{
	text-align:center;
}
.contact-text {
	margin-top: 15px;
}
.contact-text input[type="text"] {
	width: 80%;
	color: #898888;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 9px 10px;
	margin-bottom: 8px;
	border: solid 1px #D5D4D4;
	-webkit-appearance: none;
}
.contact-textarea textarea {
	resize: none;
	width: 80%;
	color: #898888;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	outline: none;
	padding: 9px 10px;
	border: solid 1px #D5D4D4;
	min-height: 100px;
	-webkit-appearance: none;
}
.contact-but input[type="submit"] {
	border: none;
	outline: none;
	color: #000;
	background:#FEC73D;
	padding:9px 15px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-top:14px;
	-webkit-appearance: none;
}
.contact-bottom-left h3,.contact-bottom-right h3{
	color: #c0424d;
	font-size: 20px;
	margin:10px 0 5px 0px;
}
.contact-bottom-left p{
	color: #858585;
	font-size: 16px;
	line-height: 1.5em;
}
.contact-bottom-left h6 {
	color: #1E1E1E;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0.3em 0;
}
.contact-bottom-left span{
	display: block;
}
.contact-bottom-left p {
	color: #858585;
	font-size: 15px;
	line-height: 1.5em;
	width: 95%;
	margin: 0 auto;
}
.contact-text p, .contact-textarea p{
	font-size:0.85em;
	margin:0.5em 0;
	text-align:left;
	padding:0 20px;
}
.contact-bottom-left p a
	text-decoration:none;
	color:#FEC73D;
}
.mp {
	margin-top: 1.5em;
	text-align: center;
}
.contact-bottom {
	margin-top: 12px;
}
.contact-bottom-left,.contact-bottom-right {
	text-align: center;
}
.mp {
	text-align: center;
	margin-top: 15px;
}
/*--contact-ends--*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     